<ul class="menu">
    <li>
        <a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
            домой
        </a>
    </li>

    <li>
        <a href="{% url 'products:products' %}" {% if 'products' in request.resolver_match.namespace %} class="active"
            {% endif %}>
            продукты
        </a>
    </li>

    <li>
        <a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}

    <li>
        <a href="{% url 'auth:edit' %}">
            {{user.first_name|default:"Пользователь"}}
        </a>
    </li>

    <li>
        <a href="{% url 'auth:logout' %}">выход
        </a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'auth:login' %}">вход
        </a>
    </li>

    {% endif %}

</ul>

<a href="#" class="search"></a>
<a href="{% url 'basket:view' %}" class="basket">
    <span>
        {% if basket %}
            {{ basket.0.total_cost|floatformat:0 }}р.
            ({{ basket.0.total_quantity }}шт.)
        {% endif %}
    </span>
</a>