django_2.0
django_3
*.pyc
adminapp/__pycache__
adminapp/migrations/__pycache__
adminapp/templatestags/__pycache__

authapp/__pycache__
authapp/migrations/__pycache__


basketapp/__pycache__
basketapp/migrations/__pycache__


mainapp/__pycache__
mainapp/migrations/__pycache__
mainapp/management/commands/__pycache__

ordersapp/__pycache__
ordersapp/migrations/__pycache__

geekshop/__pycache__