{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить продукт <strong>{{ object.name }}</strong>?
        <form action="{% url 'admin:product_delete' object.pk %}" method="post">
            {% csrf_token %}
            {% if object.is_active %}
                <input class="btn btn-danger" type="submit" value="удалить">
            {% else %}
                <input class="btn btn-danger" type="submit" value="восстановить">
            {% endif %}
               
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:products' object.category.pk %}">Отмена</a>
        </button>
  </div>
{% endblock %}