{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="users_list">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin:user_read' %}">
                к списку пользователей
            </a>
        </button>
    </div>
  
{% endblock %}