{% extends 'mainapp/base.html' %}
{% load static %}



{% block content %}
<div class="hero-white">
    <div class="header clearfix">
        <a href="{% url 'main' %}" class="logo"></a>
        {% include 'mainapp/includes/inc_main_menu.html' %}
    </div>
</div>

<div class="details">
    <div class="links clearfix">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

    <div class="products_list">
        <div class="title clearfix">
            <h2>
                Категория: "{{ category.name|title }}"
            </h2>
        </div>
        <div class="category-products clearfix">

            {% for product in products %}
            <div class="block">
                <a href="{% url 'products:product' product.pk %} ">
                    <img src="/media/{{ product.image }}" alt="product">
                    <div class="text">
							<img src="/static/img/icon-hover.png" alt="img">
							<h3>Категория: {{product.category.name}}</h3>
							<h4>Название: {{product.name}}</h4>
							<p>Описание: {{product.description}}</p>
							<p>Цена: {{product.price}}</p>
							<p>На складе: {{product.quantity }}</p>
						</div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="clr"></div>

{% endblock %}